files
*.debhelper
*.debhelper.log
*.substvars
libcasadi-core-dev/
libcasadi-core*/
libcasadi-linearsolver-csparse/
libcasadi-linearsolver-lapack/
libcasadi-nlpsolver-ipopt/
libcasadi-nlpsolver-snopt/
libcasadi-qpsolver-qpoases/
libcasadi-solvers/
libcasadi-sundials-common*/
libcasadi-sundials/
libcasadi-xmlfile-tinyxml/
python-casadi/
tmp/

